// RGB COLORS
$opacity-grey: rgb(248, 248, 248);
$opacity-orange: rgb(255, 239, 210);
$grey: rgb(80, 80, 80);
$grey-30: rgb(161, 161, 161);

// PRIMARY COLORS
$orange: orange;
$green: #2874A6;
$white: white;

// SECONDARY COLORS
$red: #C0392B;
$grey-clair: #F0F3F4;
$opacity-blue: #D6EAF8;
$blue: #3498DB;